body {

}

@font-face {
	font-family: 'ChivoMedium';
	src: url('/fonts/Chivo-Medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChivoBold';
	src: url('/fonts/Chivo-Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 560px;
}

#board {
	display: flex;
	flex-direction: column;
	width: 540px;
}

#board > .row {
	flex: 1;
	display: flex;
	flex-direction: row;
	border-collapse: collapse;
}

#board > .row > .cell {
	flex: 1;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	position: relative;
}

#board > .row > .cell > .value {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 18%;
	font-family: 'ChivoBold';
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

#board > .row > .cell:nth-child(3n) {
	border-right: 2px solid #444;
}

#board > .row > .cell:last-child {
	border-right: 1px solid #444;
}

#board > .row:nth-child(3n) > .cell {
	border-bottom: 2px solid #444;
}

#board > .row:last-child > .cell {
	border-bottom: 1px solid #444;
}

#board > .row > .cell:before {
	content: "";
	display: block;
	padding-top: 100%;
}
